html,
body {
  margin: 0;
  padding: 0;
}
#box {
  position: relative;
  top: 100px;
  left: 50px;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border: 10px solid rgba(71, 13, 230, 0.274);
  border-radius: 10px;
}
/* 准备七张图片的宽度 */
#carousel {
  position: absolute;
  width: 1750px;
  height: 300px;
}
img {
  float: left;
}
#buttons {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: 20px;
  width: 100px;
}
#buttons span {
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  background: rgb(62, 90, 243);
  cursor: pointer;
}
#buttons .on {
  background: rgb(187, 60, 13);
}
a:hover {
  opacity: 1;
}
.arrow {
  /* 定位，盒模型 */
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background: rgb(255, 247, 128);
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: rgb(0, 0, 0);
  opacity: 0.1;
  border: 1px solid #fff;
  text-decoration: none;
}
#right {
  left: auto;
  right: 5px;
}
